@media (max-width: 992px) {
   .hero-info {
      width: 100%;
      text-align: center;
      justify-content: center;
      align-items: center;
      gap: 30px;
    }

 .hero-info h1 {
    display: block;
    width: 90%;
    max-width: 500px;
    min-width: unset;
    }

 .hero-info p {
   width: 60%;
   max-width: 500px;
   font-size: 16px; 
    }

 .hero-card {
   display: none;
 }

 #discover {
   font-size: 15px;
 }

 #contact {
   flex-direction: column;
   align-items: center;
 }

 .info-container {
   gap: 50px;
 }

 .info-container h2 { 
   text-align: center;
 }
}

@media (max-width: 576px) {
 .navbar-list {
  background-color: #274c77;
   width: 100%;
  height: calc(100vh - 65px);
  position: absolute;
  top: 65px;
  left: 0;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform: translateX(200%);
  transition: all 0.4s ease-out;
 }

 .navbar i {
   display: block;
 }
 #toggle-menu:checked ~ .navbar-list {
   transform: translateX(0%);
   transition: all 0.4s ease-in;
 }

 .hero-info p {
   max-width: 100%;
 }


 .contact-info-container {
   flex-direction: column;
   text-align: center;
   gap: 50px;
 }
 .info-column {
   align-items: center;
 }

 inframe {
 height: 200px;
   width: 30%;
 }

}